In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("matches_2008-2024(2).csv")

In [3]:
df.sample()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
489,829771,2015,Bangalore,2015-05-02,League,Mandeep Singh,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Royal Challengers Bangalore,wickets,7.0,112.0,10.0,N,NaN,JD Cloete,PG Pathak

In [4]:
# üìä Exploration

In [5]:
# 1. Matches played in each city

In [6]:
matches_per_city = df['city'].value_counts()
print("\nMatches played in each city:")
print(matches_per_city)

Matches played in each city:
city
Mumbai            173
Kolkata            93
Delhi              90
Chennai            85
Hyderabad          77
Bangalore          65
Chandigarh         61
Jaipur             57
Pune               51
Abu Dhabi          37
Ahmedabad          36
Bengaluru          29
Durban             15
Visakhapatnam      15
Lucknow            14
Dubai              13
Dharamsala         13
Centurion          12
Rajkot             10
Sharjah            10
Indore              9
Navi Mumbai         9
Johannesburg        8
Cuttack             7
Port Elizabeth      7
Ranchi              7
Cape Town           7
Raipur              6
Mohali              5
Kochi               5
Kanpur              4
Kimberley           3
East London         3
Guwahati            3
Nagpur              3
Bloemfontein        2
Name: count, dtype: int64

In [7]:
# 2. Average target score

In [8]:
average_target_score = df['target_runs'].mean()
print("\nAverage target score:", average_target_score)

Average target score: 165.68406593406593

In [9]:
# 3. Matches each team won

In [10]:
wins_per_team = df['winner'].value_counts()
print("\nMatches won by each team:")
print(wins_per_team)

Matches won by each team:
winner
Mumbai Indians                 144
Chennai Super Kings            138
Kolkata Knight Riders          131
Royal Challengers Bangalore    116
Rajasthan Royals               112
Kings XI Punjab                 88
Sunrisers Hyderabad             88
Delhi Daredevils                67
Delhi Capitals                  48
Deccan Chargers                 29
Gujarat Titans                  28
Lucknow Super Giants            24
Punjab Kings                    24
Gujarat Lions                   13
Pune Warriors                   12
Rising Pune Supergiant          10
Royal Challengers Bengaluru      7
Kochi Tuskers Kerala             6
Rising Pune Supergiants          5
Name: count, dtype: int64

In [11]:
# 4. Player with most "Player of the Match" awards

In [12]:
most_pom = df['player_of_match'].value_counts().idxmax()
print("\nPlayer with most Player of the Match awards:", most_pom)

Player with most Player of the Match awards: AB de Villiers

In [13]:
# 5. Venue with most matches

In [14]:
venue_most_matches = df['venue'].value_counts().idxmax()
print("\nVenue with most matches:", venue_most_matches)

Venue with most matches: Eden Gardens

In [15]:
# üìü Statistics & Aggregation

In [16]:
# 6. Mean, median, std dev of result_margin for matches won by runs

In [17]:
won_by_runs = df[df['result'] == 'runs']
margin_stats = won_by_runs['result_margin'].agg(['mean', 'median', 'std'])
print("\nResult margin statistics for matches won by runs:")
print(margin_stats)

Result margin statistics for matches won by runs:
mean      30.104418
median    22.000000
std       26.739844
Name: result_margin, dtype: float64

In [18]:
# 7. Correlation between target_runs and result_margin (for run wins only)

In [19]:
correlation = won_by_runs[['target_runs', 'result_margin']].corr().loc['target_runs', 'result_margin']
print("\nCorrelation between target_runs and result_margin (runs only):", correlation)

Correlation between target_runs and result_margin (runs only): 0.36125599534288383

In [20]:
# 8. Win percentage of each team

In [21]:
matches_played = df['team1'].value_counts() + df['team2'].value_counts()
win_percentage = (wins_per_team / matches_played * 100).dropna().sort_values(ascending=False)
print("\nWin percentage of each team:")
print(win_percentage)

Win percentage of each team:
Rising Pune Supergiant         62.500000
Gujarat Titans                 62.222222
Chennai Super Kings            57.983193
Mumbai Indians                 55.172414
Lucknow Super Giants           54.545455
Delhi Capitals                 52.747253
Kolkata Knight Riders          52.191235
Rajasthan Royals               50.678733
Sunrisers Hyderabad            48.351648
Royal Challengers Bangalore    48.333333
Royal Challengers Bengaluru    46.666667
Kings XI Punjab                46.315789
Gujarat Lions                  43.333333
Kochi Tuskers Kerala           42.857143
Punjab Kings                   42.857143
Delhi Daredevils               41.614907
Deccan Chargers                38.666667
Rising Pune Supergiants        35.714286
Pune Warriors                  26.086957
Name: count, dtype: float64

In [22]:
# 9. Distribution of matches won by wickets vs. runs

In [23]:
win_type_distribution = df['result'].value_counts()
print("\nWin type distribution:")
print(win_type_distribution)

Win type distribution:
result
wickets      578
runs         498
tie           14
no result      5
Name: count, dtype: int64

In [24]:
# 10. Avg target score by toss decision

In [25]:
avg_target_by_toss = df.groupby('toss_decision')['target_runs'].mean()
print("\nAverage target score by toss decision:")
print(avg_target_by_toss)

Average target score by toss decision:
toss_decision
bat      160.653846
field    168.478632
Name: target_runs, dtype: float64

In [26]:
# üîç Filtering & Grouping

In [27]:
# 11. Matches that went to super over

In [28]:
super_over_matches = df[df['super_over'] == True]
print("\nNumber of matches that went into super over:", super_over_matches.shape[0])

Number of matches that went into super over: 0

In [29]:
# 12. Umpire pairings

In [30]:
umpire_pairs = df[['umpire1', 'umpire2']].dropna()
umpire_pairs['pair'] = list(zip(umpire_pairs['umpire1'], umpire_pairs['umpire2']))
umpire_pair_counts = umpire_pairs['pair'].value_counts()
most_common_pair = umpire_pair_counts.idxmax()
print("\nUmpire pair that officiated the most matches:", most_common_pair)

Umpire pair that officiated the most matches: ('S Ravi', 'RJ Tucker')

In [31]:
# 13. Match with highest result margin

In [32]:
highest_margin_match = df.loc[df['result_margin'].idxmax()]
print("\nMatch with highest result margin:")
print(highest_margin_match[['id', 'winner', 'result_margin', 'result']])

Match with highest result margin:
id                      1082635
winner           Mumbai Indians
result_margin             146.0
result                     runs
Name: 620, dtype: object

In [33]:
# 14. Toss decision that led to more wins

In [34]:
df['toss_win_match_win'] = df['toss_winner'] == df['winner']
toss_decision_wins = df[df['toss_win_match_win']].groupby('toss_decision').size()
print("\nWins after winning toss by decision:")
print(toss_decision_wins)

Wins after winning toss by decision:
toss_decision
bat      177
field    377
dtype: int64

In [35]:
# 15. Win ratio when winning the toss

In [36]:
toss_wins = df['toss_winner'].value_counts()
toss_and_match_wins = df[df['toss_winner'] == df['winner']]['toss_winner'].value_counts()
toss_win_ratio = (toss_and_match_wins / toss_wins * 100).sort_values(ascending=False)
print("\nTeams with highest win ratio when winning the toss:")
print(toss_win_ratio)

Teams with highest win ratio when winning the toss:
toss_winner
Rising Pune Supergiant         83.333333
Gujarat Lions                  66.666667
Gujarat Titans                 63.636364
Chennai Super Kings            61.475410
Kolkata Knight Riders          55.737705
Mumbai Indians                 54.545455
Lucknow Super Giants           52.631579
Delhi Capitals                 52.000000
Royal Challengers Bangalore    50.442478
Kochi Tuskers Kerala           50.000000
Rajasthan Royals               50.000000
Royal Challengers Bengaluru    50.000000
Deccan Chargers                44.186047
Delhi Daredevils               43.750000
Sunrisers Hyderabad            43.181818
Rising Pune Supergiants        42.857143
Kings XI Punjab                42.352941
Punjab Kings                   37.500000
Pune Warriors                  15.000000
Name: count, dtype: float64